body{
  background-color: rgba(235, 240, 202, 0.752);
}
@media screen and (min-width: 992px) {
header {
    display: grid;
    grid-template-columns: auto;
    background-image: url(https://res.cloudinary.com/omaha-code/image/upload/ar_4:3,c_fill,dpr_1.0,e_art:quartz,g_auto,h_396,q_auto:best,t_Linkedin_official,w_1584/v1561576558/mountains-1412683_1280.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    min-height: 300px;
}
}
iframe {
  margin-top: 5%;
  margin-right: 2%;
  width: 98%;
  height: 350px;
  margin-bottom: 9%;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
.imags {
    display: grid;
    grid-template-columns: auto;
    gap: 2%;
    margin-bottom: 5%;
    margin-top: 2%;
    column-count: 1;
    width: 100%;
    }      
.imgvid {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
      }
}

section#ma {
  display: grid;
  grid-template-rows: auto auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}
.map {
    width: 100%;
    height: 400px;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
.map {
    width: 100%;
    margin-bottom: 20px;
}
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .v1{
    width: 98%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-bottom: 2%;
  }
}
.v1{
  width: 33,28%;
  display: flex;
  flex-direction: row;
  height: 400px;
}
#copy {
    font-size: 1.5vw;
    width: 80%;
    padding: 2.5%;
    float: left;
  
  }
  
  #icons {
    width: 15%;
    display: inline-block;
  
  }
  
  .ico {
    display: inline-block;
    width: 20%;
    }
  
  .contacto{
    display: inline-block;
  
  }

  .imags{
    display: grid;
    grid-template-columns: auto auto;
  }
  img{
    width: 100%;
  }